{{!-- Copyright 2020, Verizon Media. Licensed under the Apache License, Version 2.0. See accompanying LICENSE file for terms. --}}
<div
  class="case-details"
  ...attributes
  {{did-insert this.fetchData @location @publishedDate}}
  {{did-update this.fetchData @location @publishedDate}}
>
  <h4 class="case-details__title">{{@title}}</h4>
  <div class="case-details__cases m-t-5">
    <h2 class="case-details__metric case-details__metric-value__confirmed">{{format-number this.summaryRecord.totalConfirmedCases}}</h2>
  </div>

  <DistributionChart
    class="case-details__distribution-chart"
    @height="80px"
    @series={{this.series}}
  />

  {{#if this.isGlobal}}
    <div class="case-details__metric flex align-items-center">
      <div class="case-details__metric-label tag">
        <div class="case-details__metric-dot case-details__metric-dot__fatal"></div>
        <div class="case-details__metric-label-text">{{t "fatal"}}</div>
      </div>
      <div class="case-details__metric-value case-details__metric-value__fatal" aria-label={{t "label.total.totalDeaths"}}>
        {{format-number this.summaryRecord.totalDeaths}}
      </div>
    </div>
  {{else}}
    <div class="case-details__metric flex align-items-center">
      <div class="case-details__metric-label tag">
        <div class="case-details__metric-dot case-details__metric-dot__fatal"></div>
        <div class="case-details__metric-label-text">{{t "fatal"}}</div>
      </div>
      <div class="case-details__metric-value case-details__metric-value__fatal" aria-label={{t "label.total.totalDeaths"}}>
        {{format-number this.summaryRecord.totalDeaths}}
      </div>
    </div>

    <div class="case-details__metric flex align-items-center">
      <div class="case-details__metric-label tag">
        <div class="case-details__metric-dot case-details__metric-dot__recovered"></div>
        <div class="case-details__metric-label-text">{{t "recovered"}}</div>
      </div>
      <div class="case-details__metric-value case-details__metric-value__recovered" aria-label={{t "label.total.totalRecoveredCases"}}>
        {{format-number this.summaryRecord.totalRecoveredCases}}
      </div>
    </div>
  {{/if}}
  {{#if this.summaryRecord.dataSource}}
    <a
      class="case-details__datasource-link m-t-10"
      href={{this.summaryRecord.dataSource}}
      target="_blank"
      rel="noopener noreferrer"
      title={{t "datasourceTitle"}}
    >
      {{svg-jar "data-source" class="case-details__datasource-icon m-r-3" width="10px" height="10px"}}
      <div class="case-details__datasource-link-text">{{this.summaryRecord.dataSource}}</div>
    </a>
  {{/if}}
</div>