{{!-- Copyright 2020, Verizon Media. Licensed under the terms of the Apache License, Version 2.0. See accompanying LICENSE.md file for terms. --}}
<div
  class="chart-container"
  {{did-insert this.fetchData @location}}
  {{did-update this.fetchData @location}}
  ...attributes
>
  {{#each this.charts as |chart|}}
    {{#let (component chart.component) as |ChartComponent|}}
      <div class="chart-container__graph-container">
        <ChartComponent
          class="chart-container__graph chart-container__graph--{{chart.component}}"
          @records={{this.records}}
          @metrics={{chart.metrics}}
          @title={{t chart.title}}
          @height="200px"
        />
        {{#unless @isMobile}}
          <span role="button" class="chart-container__expand-icon" {{on "click" (fn this.showModalFor chart)}}>
            {{svg-jar
              "expand-fullscreen"
              class="m-r-3"
              width="10px"
              height="10px"
            }}
          </span>
        {{/unless}}
      </div>
    {{/let}}
  {{/each}}

  {{#if (and this.showModal (not @isMobile))}}
    <EmberWormhole @to="modal">
      <div class="chart-container__modal modal is-active">
        <div class="modal-container">
          <span role="button" class="close link" {{on "click" (fn (mut this.showModal) false)}}>
            {{svg-jar "close" class="modal__close-icon m-r-3" width="20px" height="20px"}}
          </span>
          <div class="modal-header">
            <h3>{{@location.attributes.label}} {{t this.modalChart.title}}</h3>
          </div>
          <div class="modal-content">
            {{component this.modalChart.component
              records=this.records
              metrics=this.modalChart.metrics
              height="500px"
            }}
          </div>
        </div>
      </div>
    </EmberWormhole>
  {{/if}}
</div>