{{!-- Copyright 2020, Verizon Media. Licensed under the terms of the Apache License, Version 2.0. See accompanying LICENSE.md file for terms. --}}
<div
  class="location-table"
  ...attributes
  {{did-insert this.fetchData @location @publishedDate}}
  {{did-update this.fetchData @location @publishedDate}}
>
  <div class="flex align-items-center p-l-30 p-b-10">
    {{#if this.locationParentId}}
      <LinkTo class="p-r-10 flex align-items-center" @route="dashboard.location" @model={{this.locationParentId}}>
        {{svg-jar "arrowhead-left-circle"
          class="location-table__title__up"
          width="18px"
          height="18px"
        }}
      </LinkTo>
    {{/if}}
    <h4 class="location-table__title flex-1">{{t "confirmedCases"}}</h4>
  </div>

  {{#if this.loading}}
    <div class="location-table__loader">
      <div class="loader is-medium"></div>
    </div>
  {{else}}
    <lr/>
    {{#if this.locations}}
      <ul class="location-table__list p-l-20 p-b-10">
        <ListIterator
          @occlusion={{@occlusion}}
          @locations={{this.locations}}
          as |location|
        >
          {{#let (get location 'relationships.place.data.id') as | locationId |}}
            <li class="location-table__list-item p-y-5 p-x-10">
              <div
                role="button"
                class="location-table__list-item__place"
                {{on "click" (fn @onLocationSelect locationId)}}
              >
                {{location.attributes.label}}
              </div>
              <span class="location-table__list-item__total-confirmed-cases" aria-label={{t (concat "label.total." @fieldToShow)}}>
                {{format-number (get location.attributes @fieldToShow)}}
              </span>
            </li>
          {{/let}}
        </ListIterator>
      </ul>
    {{else}}
      <div class="location-table__empty p-t-80">
        <div class="location-table__empty__icon-bg flex align-items-center justify-content-center p-y-5">
          {{svg-jar "microscope" class="location-table__empty__icon" width="64px" height="64px" }}
        </div>
        <h5 class="location-table__empty__title is-grey-600 p-t-15">{{t "noData.title"}}</h5>
        <p class="location-table__empty__text is-grey-600 p-x-40">{{t "noData.description"}}</p>
      </div>
    {{/if}}
  {{/if}}
</div>
