{{!-- Copyright 2020, Verizon Media. Licensed under the Apache License, Version 2.0. See accompanying LICENSE file for terms. --}}
{{#let @layer as |layer|}}
  <layer.circle
    @className="location-marker"
    @lat={{@rec.attributes.latitude}}
    @lng={{@rec.attributes.longitude}}
    @radius={{get-radius number=(get @rec.attributes @fieldToShow) zoom=@zoom}}
    @color="#1bc6f3"
    @bubblingMouseEvents={{true}}
    @center={{true}}
    @onClick={{fn @onLocationClick @rec.relationships.place.data.id}} as |marker|>
    <marker.tooltip>
      <div class="map__tooltip">
        <div class="map__tooltip-header">{{@rec.attributes.label}}</div>
        <div class="map__tooltip-metric-header p-y-8">
          <div class="map__tooltip-metric-label">{{t "total"}}</div>
          <div class="map__tooltip-metric-count">{{format-number @rec.attributes.totalConfirmedCases}}</div>
        </div>
        <div class="map__tooltip-breakdown m-t-5">
          <div class="map__tooltip-metric">
            <div class="map__tooltip-metric-label">
              <div class="map__tooltip-dot map__tooltip-dot-fatal"></div>
              {{t "fatal"}}
            </div>
            <div class="map__tooltip-metric-count">{{format-number @rec.attributes.totalDeaths}}</div>
          </div>
          <div class="map__tooltip-metric">
            <div class="map__tooltip-metric-label">
              <div class="map__tooltip-dot map__tooltip-dot-recovered"></div>
              {{t "recovered"}}
            </div>
            <div class="map__tooltip-metric-count">{{format-number @rec.attributes.totalRecoveredCases}}</div>
          </div>
        </div>
      </div>
    </marker.tooltip>
  </layer.circle>
{{/let}}
