{{!-- Copyright 2020, Verizon Media. Licensed under the terms of the Apache License, Version 2.0. See accompanying LICENSE.md file for terms. --}}
<div class="stacked-bar__container" ...attributes>
  <h5 class="stacked-bar__title">{{@title}}</h5>
  <ApexChart
    class="stacked-bar__chart"
    @type="bar"
    @width={{@width}}
    @height={{@height}}
    @series={{this.series}}
    @chartOptions={{this.chartOptions}}
  />
</div>